.toggle-container {
	display: flex;
	align-items: center;
	height: $headerHeightMobile;
	width: calc(#{$headerHeightMobile} + ((#{$headerHeightMobile} - #{$menuIconSize}) / 2));
	padding: calc((#{$headerHeightMobile} - #{$menuIconSize}) / 2);

	.toggle {
		width: 100%;
		height: 24px;
		border-radius: 20px;
		background-color: $dark300;
		box-shadow: inset 0 0 6px rgba(black, 0.3);
		position: relative;
		padding: 2px;
		cursor: pointer;
		@include transition();

		&:after {
			content: "";
			width: $toggleButtonSize;
			height: $toggleButtonSize;
			left: 0;
			right: initial;
			background-color: white;
			position: relative;
			display: block;
			border-radius: 50%;
			box-shadow: 0 1px 3px rgba(black, 0.6);
			@include transition();
		}
	}
}

body.dark {

	.toggle-container {

		.toggle {
			background-color: white;

			&:after {
				background-color: $bgDark;
				left: calc(100% - #{$toggleButtonSize});
			}
		}
	}
}