.main-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	box-shadow: $headerShadow;
	z-index: 100;
	@include transition();

	&__hamburguer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: $headerHeightMobile;
		width: $headerHeightMobile;
		cursor: pointer;

		.menu-bar {
			position: relative;
			width: 25px;
			height: 3px;
			background-color: black;
			border-radius: 5px;
			@include transition();

			&:not(:last-child) {
				margin-bottom: 4px;
			}

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2) {
			}

			&:nth-child(3) {
				bottom: 0;
			}
		}
	}
	
	&__title {
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 11px;
		color: black;
		text-decoration: none;
		@include transition();

		h1 {
			margin: 0;

			> span {
				display: none;
			}
		}

		&:hover {
			border: none;
		}
	}

	&__scroll {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: absolute;
		padding: 1.25rem;
		bottom: 0;
		left: calc(50% - 18px / 2 - 1.25rem);

		.arrow {
			position: relative;
			top: 0;
			width: 1rem;
			height: 1rem;
			border: 5px solid black;
			border: {
				top: none;
				left: none;
				// radius: 50%;
			};
			transform: rotate(45deg);
			@include transition();

			.arrow {
				width: .5rem;
				height: .5rem;
				border-width: 4px;
				transform: rotate(0deg);
			}
		}

		&:hover {
			left: calc(50% - 18px / 2 - 1.25rem);
			right: calc(50% - 18px / 2 - 1.25rem);

			.arrow {
				width: 1.2rem;
				height: 1.2rem;

				.arrow {
					width: .6rem;
					height: .6rem;
				}
			}
		}
	}
	
	// Shrink to sticky header
	&.shrink {
		bottom: calc(100vh - #{$headerHeightMobile});
		animation: {
			name: setHeaderHeight;
			delay: $transitionDelay;
			duration: 0s;
			fill-mode: forwards;
		}

		.main-header__hamburguer {

			&.sidebar-displayed {

				.menu-bar {

					&:nth-child(1) {
						top: 7px;
						transform: rotate(45deg);
					}

					&:nth-child(2) {
						transform: rotate(-45deg);
					}

					&:nth-child(3) {
						bottom: 7px;
						transform: rotate(-45deg);
					}
				}
			}
		}

		.main-header__scroll {
			visibility: hidden;
			opacity: 0;
		}
	}
	
	// JavaScript disabled
	&--no-js {
		display: flex;
	    position: fixed;
   		height: auto;
   		bottom: auto;
	}
}

// Dark Header
body.dark {

	.main-header {
		background-color: $bgDarkSidebar;

		a {

			&:hover {
				border: none;
			}
		}

		&__hamburguer {
			
			.menu-bar {
				background-color: white;
			}
		}

		&__scroll {

			.arrow {
				border-color: white;
			}
		}
	}
}

// Fix mobile header
body.header-shrink {
	animation: header-shrink $transitionDelay 1 forwards;
}

// Animations
@keyframes header-shrink {
	100% {margin-top: $headerHeightMobile;}
}

@keyframes setHeaderHeight {
	100% {height: $headerHeightMobile;}
}