.main-sidebar {
	position: fixed;
	background-color: $light300;
	top: $headerHeightMobile;
	bottom: 0;
	left: -15rem;
	width: 14rem;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1rem 0;
	@include transition;

	h3 {
		margin: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 1rem;

		li {

			a {
				display: flex;
				align-items: center;
				padding: .5rem 1rem;
				text-decoration: none;
				color: black;
				font-weight: bold;
				@include transition;

				&:hover {
					background-color: $linksSidebarHover;
					border: none;
				}
			}			

			ul {

				li {

					a {
						font-weight: normal;
						padding: .25rem 1rem .25rem 2rem;
					}
				}
			}
		}

		figure {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1.5rem;
			height: 1.5rem;
			background-color: $iconsBgColor;
			border-radius: 50%;
			padding: .2rem;
			margin: 0;
			margin-right: .5rem;

			img {
				max-height: 100%;
				filter: grayscale(100%);
			}
		}
	}

	&.sidebar-displayed {
		left: 0;
	}
}

body.sidebar-displayed {
	margin-left: 14rem;
}

body.dark {
	
	.main-sidebar {
		background-color: $bgDarkSidebar;
		color: white;

		ul {

			li {

				a {
					color: white;
				}
			}
		}
	}
}