@font-face {
	font-family: "Roboto Slab";
	src:url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
}

@font-face {
	font-family: "Ubuntu";
	font-weight: normal;
	font-style: normal;
	src:url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

html {
	font: {
		family: "Ubuntu", sans-serif;
		weight: normal;
		size: 18px;
		style: normal;
	}
	line-height: 1.5;
}