//Colors
$dark100: rgb(35,35,35);
$dark200: rgb(45,45,45);
$dark300: rgb(96, 96, 96);
$middle100: rgb(127,127,127);
$middle200: rgb(155,155,155);
$middle300: rgb(180,180,180);
$light100: rgb(200,200,200); 
$light200: rgb(222,222,222); 
$light300: rgb(245,245,245);
$blackTransparent: rgba(0,0,0,0.15);

//Header
$headerHeightMobile: 56px;
$menuIconSize: 30px;

//Toggle
$toggleButtonSize: 20px;

//Shadows
$headerShadow: 0 3px 10px transparentize(black, 0.9);

//Dark Theme
$bgDark: $dark100;
$bgDarkSidebar: $dark200;
$iconsBgColor: $light100; 
$lightSecondary: $light300;
$linksSidebarHover: rgba(0,0,0,0.15);
$linksHoverColor: $dark300;

// Breakpoints
$bkpTablet: 768px;
$bkpLaptop: 1200px;

//Transitions
$transitionDelay: 225ms;
$darkThemeTransitionDelay: $transitionDelay;
$linksTD: 150ms;