// Normalize
@import "normalize/normalize";

// Helpers
@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/mixins";
@import "helpers/functions";

// Components
@import "components/toggle";

// Layout
@import "layout/footer";
@import "layout/header";
@import "layout/sidebar";

// Page
@import "pages/front-page";

* {
	box-sizing: border-box;
}

::selection {
	background-color: $light200;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto Slab", sans-serif;
	line-height: 1.2;
	margin-top: 0;
}

figure {
	text-align: center;
}

a {
	font-weight: bold;
	color: black;
	text-decoration: none;

	@include transition($d: $linksTD, $tf: linear);

	&:hover {
		border-bottom: 2px solid black;
	}
}

html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	margin-top: 100vh;
	background-color: white;
	scroll-behavior: smooth;
	@include transition();

	&.dark {
		background-color: $bgDark;
		color: white;
		@include transition();

		a {
			font-weight: bold;
			color: white;
			text-decoration: none;

			&:hover {
				border-bottom: 2px solid white;
			}
		}
	}

	.shrink-header {
		padding-top: $headerHeightMobile;
	}
}

//Layout
.container {
	padding: 1rem;
}

@media only screen and (min-width: $bkpTablet) {
	//Layout
	.container {
		margin: 0 auto;
		max-width: 35rem;
	}
}



@media only screen and (min-width: $bkpLaptop) {
	//Layout
	.container {
		max-width: 50rem;
	}
}